body {
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
    background: url('imagens/fundo.png') lightgray 50% / cover no-repeat;
    

}
/* Estilizando a caixa */
.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px; /* Espaçamento entre os elementos */
    width: 406px; /* Largura da caixa */
    height: 187px; /* Altura da caixa */
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: -2px -2px 6px 0px #B0B0B0, 2px 2px 6px 0px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(3px);
}
/* Estilizando o container dos botões */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaçamento entre os botões */
}
/* Estilizando os botões e as imagens */
button {
    width: 60px;
    height: 60px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



p{
    width: 82px;
    color: #000;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: rgba(243, 243, 243, 0.50);
    box-shadow: -2px -2px 6px 0px #B0B0B0, 2px 2px 6px 0px rgba(0, 0, 0, 0.50);
}
#nextTrack {
    color: #000;
    font-family: "SF Pro Display", sans-serif; /* Adicione uma fonte alternativa */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}